h1{
    text-align: center;
}
h2{
    text-align: center;
}
h4{
    font-weight: bold;
    text-align: center;
}
.voyagerI{
    text-align: left;
    font-style: italic;
    font-size: 40px;
    color: gold;
}
.imagen1{
    height: 360px;
    width: 1330px;
    
}
.imgmultimedia{
    height: 100px;
    width: 1330px;
}
.imglogoNASA{
    height: 100px;
    width: 100px;
}
.imgVoyager1{
    height: 400px;
    width: 1330px;
}
.imgsistemaSolar{
    height: 200px;
    width: 200px;
}
.video1{
    width: 1330px;
    height: 360px;
}
.fondoRegistro{
    background-color: lightcyan;
}
footer{
    background-color: #c3c6f4;
    text-align: center;
    color: red;
    font-size: 18px;
}
.parrafo1{
    font-family: 'Rufina', serif;
    font-size:19px;
    color:black;
}
.parrafo2{
    font-family: 'Sansita Swashed', cursive;
    font-style: italic;
    font-size: 22px;
    color: blue;
}
.parrafo3{
    font-family: 'Sansita Swashed', cursive;
    font-style: italic;
    font-size: 22px;
    color: blue;
}
.parrafo4{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: dodgerblue;
}
.infoRegistro{
    font-size: 30px;
}

